/* Standard mobile first (galaxy s10) */
/* Resets */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto";
  color: $text;
}

body {
  background-color: $background;
}

.header {
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

// Profile picture
.rubenmain {
  width: 125px;
  height: 125px;
  position: relative;
  top: 20px;
  left: 50%;
  margin-left: -62px;

  // Sneek, NL text
  .locationtext {
    position: absolute;
    text-align: center;
    font-size: 17px;
    left: 65%;
    top: 50%;
  }
}

// Text: Ruben/Blog
.blogtext {
  padding-left: 5px;
  padding-right: 1px;
  text-align: center;
  position: relative;
  z-index: 1;
  top: 5vh;
  left: 10vh;
  font-size: 21px;

  span {
    background-color: $highlights;
    padding: 0 15px;
  }
}

// Icon: Location
.icon1 {
  width: 22px;
  height: 22px;
  position: relative;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: "Lato";
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

// image container (for position the arrows)
.container {
  position: relative;
  max-width: 100%;
  height: 20%;

  img {
    height: auto;
    width: 100%;
  }
}

// Image slider
.imgslider {
  padding-top: 20px;
  position: relative;
  width: 70%;
  margin: auto;

  #resizeIcon {
    position: absolute;
    width: 10px;
    height: auto;
    z-index: 1;
    right: 5%;
    top: 70%;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

// hide the images by default
.mySlides {
  display: none;
}

// pointer when hovering over thumbnail images
.cursor {
  cursor: pointer;
}

/* Container for image text */
.caption-container {
  position: absolute;
  background-color: rgba(41, 41, 43, 0.5);
  width: 100%;
  bottom: 16%;
  height: 18%;

  #caption {
    position: absolute;
    padding: 2px 16px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Lato";
    text-align: left;
    margin: auto;
    top: 12px;
  }

  /* Informatie over ruben */
  .containertext {
    position: absolute;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0 15px;
    text-align: left;
    top: 92%;
    z-index: 1;
  }
}

.line1 {
  background-color: rgb(146, 142, 142);
  position: absolute;
  z-index: 1;
  width: 175px;
  border-radius: 1px;
  border-width: 0;
  height: 1px;
  top: 75%;
  left: 17px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;

  img {
    width: 100%;
    height: auto;
  }
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  max-width: 100%;
  height: auto;
}

.active,
.demo:hover {
  opacity: 1;
}
