$breakpoints: (
  "phone": 360px,
  "tablet": 768px,
  "desktop": 1366px,
  "largedesktop": 1920px,
);

@mixin ipad {
  @media (min-width: map-get($breakpoints, "ipad")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

// for a specific breakpoint
@mixin breakpoints($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

.responsive-text {
  @include ipad {
    color: red;
  }
  @include desktop {
    color: blue;
  }
}
